[alias]
	aa = !git add -A && git st
	st = status
	c = commit -m
	ca = commit --amend -C HEAD
	br = branch
	remotes = ls-remote --heads origin
	co = checkout
	cob = checkout -b
	rmb = !sh -c 'git branch -D $1 && git push origin :$1' -
	cleanup = !git remote prune origin && git gc && git clean =dfx && git stash clear
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	rb = rebase
[merge]
	tool = p4merge
[diff]
	guitool = p4merge
[core]
	editor = \"C:/Program Files (x86)/GitExtensions/GitExtensions.exe\" fileeditor
[difftool "p4merge"]
	path = C:/Program Files/Perforce/p4merge.exe
	cmd = \"C:/Program Files/Perforce/p4merge.exe\" \"$LOCAL\" \"$REMOTE\"
[mergetool "p4merge"]
	path = C:/Program Files/Perforce/p4merge.exe
	cmd = \"C:/Program Files/Perforce/p4merge.exe\" \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
